<nav class="navbar navbar-expand-lg navbar-dark bg-primaryV2 fixed-top" id="navi">
  <a class="navbar-brand" href="#"><b>Project 1</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="extra-space"></div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}"><b>Home</b> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about') }}"><b>About</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('profile') }}"><b>Profile</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('profiles') }}"><b>Profiles</b></a>
      </li>
    </ul>
  </div>
</nav>
